<div *ngIf="tickets">

<table class="ticketsTable" *ngIf="tickets.length>0">
    <tr class="statusRow">
        <td colspan=4>Amount Due for this Vehicle: {{totalOwed | currency}}</td>
    </tr>
    <tr>
        <th class="violation">Violation</th>
        <th class="issueDate">Date</th>
        <th class="amountDue">Amount Due</th>
        <th class="ticketImageLink">View Ticket</th>
    </tr>
        <tr [className]="ticket.amount_due!=0 ? 'alert' : 'ticketList'" class="ticketList" *ngFor="let ticket of tickets">
            <td class="violation">{{ticket.violation}}</td>
            <td class="issueDate">{{ticket.issue_date}}</td>
            <td class="amountDue">{{ticket.amount_due}}</td>
            <td class="ticketImageLink"><a target="_blank" href='{{ticket.summons_image}}'>View Ticket</a></td>
        </tr>
</table>

<div *ngIf="!(tickets.length>0)" class="noTickets">Congratulations! You have no tickets on this vehicle</div>
</div>
