.registerFormContainer {

    margin-top:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.registerFormContainer * {
width: 300px;
}
.errorMessage{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;
    margin-bottom: 10px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }