<div class="registerFormContainer">

  <mat-form-field>
    <input matInput (keyup)="checkUserExist()" [(ngModel)]="user.userName" placeholder="Username" [type]="hide ? 'username' : 'text'">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="user.firstName" placeholder="First Name" [type]="hide ? 'firstName' : 'text'">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="user.lastName" placeholder="Last Name" [type]="hide ? 'lastName' : 'text'">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="user.email" placeholder="Email" [type]="hide ? 'email' : 'text'">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="user.password" placeholder="Password" [type]="hide ? 'text' : 'password'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="registerUser()">Register</button>
  <br/>
  <mat-error  *ngIf="isAccountCreateError" class="errorMessage" >{{registrationErrorMessage}}<br/> </mat-error>
  <span>Already have an account?
    <a routerLink=''>Log in.</a>
  </span>
</div>