.heroBanner{
    /* background-image:url(/assets/images/noparking.jpg);
    background-size: 100%;
    background-position-y: -120px; */
    background-color:peru;
    max-height:100px;
    font-size:2em;
    color:white;
}
