.user{
    margin: 5px auto;
    text-align: left;
}
.user span{
    display:block;
    margin-left: 2px;
}


/* .user{
    padding: 5px;
    display: flex;        
    flex-direction: row;   
    flex-wrap: wrap;       
    justify-content: space-around;        
    align-content: space-around;
    align-items: flex-start;

}
.flex-container{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width:600px;
    overflow: auto;
    max-height: 500px;
}

.user span{
    padding:15px;
    flex-grow: 0;
    text-align:left;
    order: 0;
    flex: 0 0 auto;
    align-self: auto;
}
.user button{
    width:100px;
    display:inline;
}
.user:nth-child(even){
    background-color:silver;
}
.user:nth-child(even){
    background-color:papayawhip;
}
.userName{ */
