
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:14px;
    
}
.userTile{
    flex: 0 0 250px;
    min-height: 80px;
    border: 1px solid silver;
    padding:5px 10px 5px 10px;
    margin: 25px;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.29);

}
.userTile input{
    width:200px;
}
.userTile span{
    margin-bottom:5px;
    margin-top:5px;

    text-align:left;
    display:block;
    margin-top:5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:14px;
    padding-top:5px;

}
.userTile button{
    float:right;
}
.userTile img{
    float:left;
    height:60px;
    margin:0px 10px 10px 0px;
}
.userTileContainer{
    display:flex;
    flex-wrap:wrap;
}
.userTile a{
    margin-top:10px;
    float:right;
}



/* 
.user{
    height: 125px;
    width: 325px;
    border: 1px solid #ccc;
    text-align:left;
    padding: 15px;
}
.user span {
    display:block;
    margin: 5px auto 5px auto;
}
.user .controlButtons {

    text-align: right;
}

.firstAndLastName input {
    display:inline;
    margin: 5px auto 5px auto;
}




/* .user{
    padding: 5px;
    display: flex;        
    flex-direction: row;   
    flex-wrap: wrap;       
    justify-content: space-around;        
    align-content: space-around;
    align-items: flex-start;

}
.flex-container{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width:600px;
    overflow: auto;
    max-height: 500px;
}

.user span{
    padding:15px;
    flex-grow: 0;
    text-align:left;
    order: 0;
    flex: 0 0 auto;
    align-self: auto;
}
.user button{
    width:100px;
    display:inline;
}
.user:nth-child(even){
    background-color:silver;
}
.user:nth-child(even){
    background-color:papayawhip;
}
.userName{ */ 
