mat-card-title.mat-card-title{
    font-size:1.5em;
}

.carRow{
    margin:10px 0;;
    display:flex;
    flex-direction: row;
}
mat-card-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.licensePlateNumber{
    display:flex;
    align-items: center;
    background-color:goldenrod;
    color:navy;
    padding: 10px;
}

