<div class="searchControls">
<h3>List public bathrooms by borough</h3>
<select (change)="getList($event.target.value)">
  <option>-- Select a borough</option>
  <option>Brooklyn</option>
  <option>Bronx</option>
  <option>Queens</option>
  <option>Manhattan</option>
  <option>Staten Island</option>
</select>
</div>

<div class="toiletTileContainer" *ngFor="let toilet of toilets">
  <div class="toiletTile">
    <h4>{{toilet.name}}</h4>
    <span><h5>Location: {{toilet.location}}</h5></span>
    <span>Open Year-Round: {{toilet.open_year_round}}</span>
  </div>
</div>