.toiletTileContainer{
    display:flex;
    flex-wrap:wrap;
    width:100%;
}

.toiletTile{
    flex: 0 0 200px;
    min-height: 80px;
    border: 1px solid silver;
    padding:5px 10px 5px 10px;
    margin: 25px;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.29);

}

.toiletTile span h4{
display: block;
    
}