.userCard{
    width:340px;
    height:155px;
    margin:3px;
}
.userCardEditing{
    width:340px;
    margin:3px;
    display:flex;
    flex-direction: column;
}
.user-icon{
    background-image: url(/assets/images/head.png);
    background-size: cover;
    margin-right: 20px;
}
.buttonContainer{
    display: flex;
    justify-content: space-between;
}
mat-form-field.mat-form-field {
    font-size: 12px;
  }
mat-form-field.mat-label{
    font-size:14px
}
.errorMessage{
    margin: 0 auto;
}