.userProfile{
    display: flex; 
    padding: 30px;
 
}
mat-card.mat-card{
   margin:auto;
   width:90%;
   min-width:350px;
   max-width:900px
}

.profile-image{
    background-image: url(/assets/images/head.png);
    background-size: cover;
    margin-right: 20px;
}
mat-icon{
    font-size:1em;
}
mat-card-header{
    width:100%;
    display:flex;
    flex-direction: column;
    margin-bottom:20px;
}
mat-card-subtitle{
    margin-bottom:0px;
}



